body {
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    transition: margin-left 0.3s ease;
}

h1 {
    padding-top: 50px; /* Adjust for the navbar height */
    text-align: center;
}

h4 {
    text-align: center;
    margin: 10px 0;
}

.summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create a 2x2 grid */
    gap: 1rem; /* Space between grid items */
    padding: 1rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    background-color: #333;
    width: 40px;
    margin: 0 auto;
}

.grid-item:hover {
    background-color: #222;
}

.grid-item p {
    margin: 0;
    font-weight: bold;
    position: relative;
}

.grid-item p::after {
    content: attr(data-value);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    transition: color 0.3s ease;
}

.grid-item:hover p::after {
    color: #e0e0e0; /* Adjust to match your theme's text color */
}

.grid-item:hover p {
    color: transparent;
}

.sidebar {
    width: 210px;
    background-color: #282828; /* Slightly lighter dark color for sidebar */
    color: #e0e0e0;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 35px; /* Adjust to the collapsed width */
}

.sidebar .sidebar-content {
    display: block;
}

.sidebar.collapsed .sidebar-content {
    display: none;
}

.sidebar-toggle {
    background-color: #333;
    color: #e0e0e0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-toggle:hover {
    background-color: #555;
}

.date-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.date-inputs label {
    display: block;
    margin-right: 5px;
    font-size: 14px;
}

.date-inputs input[type="date"] {
    border: 1px solid #444;
    background-color: #333;
    color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
}

.slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.slider label {
    font-size: 14px;
    margin-bottom: 5px;
}

.slider input[type="range"] {
    width: 100%;
}

#submit {
    background-color: blue;
    color: #e0e0e0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    margin-top: 20px;
}

#submit:hover {
    background-color: #555;
    transform: translateY(-2px);
}

#submit:active {
    background-color: #222;
    transform: translateY(0);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #333;
    color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal .close:hover {
    color: #f00;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    max-height: 90vh;
}

.content.shifted {
    margin-left: 85px; /* Adjust based on the collapsed width */
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #2c2c2c; /* Dark navbar background */
    padding: 10px;
    color: #e0e0e0;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 270px); /* Adjust based on the sidebar width */
    transition: width 0.3s ease, margin-left 0.3s ease;
}

.navbar.shifted {
    width: calc(100% - 95px); /* Adjust based on the collapsed width */
    margin-left: 60px; /* Adjust based on the collapsed width */
}

.navbar a {
    color: #e0e0e0; /* Light text color for links */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #555; /* Darker hover effect */
}

.tab-content {
    max-height: 90vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.checkbox-group-container {
    border: 2px solid #444;
    border-radius: 10px;
    padding: 20px 0;
    background-color: #1c1c1c;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
    transition: background-color 0.3s ease;
    /* Reduce the width to fit the content */
    width: 70%;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox-group label {
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.select-button {
    background-color: green;
}

.select-button:hover {
    background-color: mediumseagreen;
    box-shadow: 0 0 10px mediumseagreen;
    color: black;
    transform: translateY(-2px);
}

.clear-button {
    background-color: red;
}

.clear-button:hover {
    background-color: crimson;
    box-shadow: 0 0 10px crimson;
    transform: translateY(-2px);
}

.button-group button {
    color: #e0e0e0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.2s ease;
}

.button-group button:active {
    background-color: #222;
    color: white;
    transform: translateY(0);
}

img {
    border: 1px solid #e0e0e0; /* Light border color for contrast */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Darker shadow for images */
    background-color: #000000; /* Black background for images */
    display: block;
    margin: 20px auto;
    max-width: 100%; /* Ensure image does not exceed container width */
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.loading img {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid blue; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}